*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
    overflow-x: hidden;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 15px;
    font-size: 40px;
}

.red{
    --clr:crimson;
}

.blue{
    --clr:blue;
}
.green{
    --clr:green;
}

.yellow{
    --clr:yellow;
}

.orange{
    --clr:orange;
}

.box{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--clr);
    transform: translateX(400%);
    color: #fff;
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0%);
}


